In [3]:
import pandas as pd
import numpy as np
mainData = pd.read_csv("../dataset/joindata1.csv")
joinData = pd.read_csv("../dataset/joindata2.csv",encoding="ms949")

In [4]:
mainData

,mata_tin,mata_txpr_sex_cd,mate_mdf_yn,mate_srcs_cntn,mem_rit_cd,rit_end_dt,rit_strt_dt,suta_tin,suta_txpr_sex_cd
0,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2
1,154102000000,3,Y,대법원가족관계,1,99991231,20190107,153460000000,1
2,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154202000000,2
3,155000000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2
4,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153603000000,2
5,100026000000,3,Y,대법원가족관계,1,99991231,20190107,153103000000,1
6,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2
7,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153202000000,2
8,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153302000000,2
9,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154802000000,2

In [5]:
joinData

,mata_tin,mate_srcs_cntn,rit_end_dt,rit_strt_dt,suta_tin,txpr_rlt_cd
0,153101000000,납세자관계,99991231,10101,153403000000,22
1,153101000000,납세자관계,99991231,10101,154201000000,22
2,153101000000,납세자관계,99991231,10101,154601000000,30
3,153101000000,납세자관계,99991231,10101,154702000000,22
4,153101000000,납세자관계,99991231,10101,153403000000,32
5,153101000000,납세자관계,20161113,20160523,153201000000,30
6,153101000000,납세자관계,99991231,10101,153501000000,22
7,153101000000,납세자관계,99991231,10101,153101000000,32
8,153101000000,납세자관계,99991231,10101,153901000000,32
9,153101000000,납세자관계,20180926,20170802,154401000000,30

# 두 개의 테이블에서 suta_tin 같은 경우 메인 테이블의 suta_tin를 mata_tin로 바꾼
# 컬럼생성

In [6]:
mergedData = pd.merge(left = mainData,
        right = joinData,
        on=["suta_tin"],
        how = "left")

In [7]:
mergedData

,mata_tin_x,mata_txpr_sex_cd,mate_mdf_yn,mate_srcs_cntn_x,mem_rit_cd,rit_end_dt_x,rit_strt_dt_x,suta_tin,suta_txpr_sex_cd,mata_tin_y,mate_srcs_cntn_y,rit_end_dt_y,rit_strt_dt_y,txpr_rlt_cd
0,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,1.531010e+11,납세자관계,99991231.0,10101.0,22.0
1,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,1.531010e+11,납세자관계,99991231.0,10101.0,32.0
2,154102000000,3,Y,대법원가족관계,1,99991231,20190107,153460000000,1,NaN,NaN,NaN,NaN,NaN
3,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154202000000,2,NaN,NaN,NaN,NaN,NaN
4,155000000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2,NaN,NaN,NaN,NaN,NaN
5,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153603000000,2,NaN,NaN,NaN,NaN,NaN
6,100026000000,3,Y,대법원가족관계,1,99991231,20190107,153103000000,1,NaN,NaN,NaN,NaN,NaN
7,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2,NaN,NaN,NaN,NaN,NaN
8,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153202000000,2,NaN,NaN,NaN,NaN,NaN
9,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153302000000,2,NaN,NaN,NaN,NaN,NaN
10,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154802000000,2,NaN,NaN,NaN,NaN,NaN

In [13]:
mergedData.loc[~mergedData.mata_tin_y.isnull(),"suta_tin_new"] = mergedData.mata_tin_x
mergedData.loc[mergedData.mata_tin_y.isnull(),"suta_tin_new"] = mergedData.suta_tin

In [14]:
mergedData

,mata_tin_x,mata_txpr_sex_cd,mate_mdf_yn,mate_srcs_cntn_x,mem_rit_cd,rit_end_dt_x,rit_strt_dt_x,suta_tin,suta_txpr_sex_cd,mata_tin_y,mate_srcs_cntn_y,rit_end_dt_y,rit_strt_dt_y,txpr_rlt_cd,suta_tin_new
0,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,1.531010e+11,납세자관계,99991231.0,10101.0,22.0,1.536010e+11
1,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,1.531010e+11,납세자관계,99991231.0,10101.0,32.0,1.536010e+11
2,154102000000,3,Y,대법원가족관계,1,99991231,20190107,153460000000,1,NaN,NaN,NaN,NaN,NaN,1.534600e+11
3,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154202000000,2,NaN,NaN,NaN,NaN,NaN,1.542020e+11
4,155000000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2,NaN,NaN,NaN,NaN,NaN,1.543020e+11
5,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153603000000,2,NaN,NaN,NaN,NaN,NaN,1.536030e+11
6,100026000000,3,Y,대법원가족관계,1,99991231,20190107,153103000000,1,NaN,NaN,NaN,NaN,NaN,1.531030e+11
7,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2,NaN,NaN,NaN,NaN,NaN,1.543020e+11
8,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153202000000,2,NaN,NaN,NaN,NaN,NaN,1.532020e+11
9,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153302000000,2,NaN,NaN,NaN,NaN,NaN,1.533020e+11
10,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154802000000,2,NaN,NaN,NaN,NaN,NaN,1.548020e+11

In [8]:
import numpy as np

In [9]:
np.where(mainData["suta_tin"]==joinData["suta_tin"],mainData["mata_tin"],mainData["suta_tin"])

array([153601000000, 153460000000, 154202000000, 154302000000,
       153603000000, 153103000000, 154302000000, 153202000000,
       153302000000, 154802000000], dtype=int64)