In [1]:
import pandas as pd
import numpy as np

customerData = pd.read_csv("../dataset/customerdata.csv")

In [2]:
# <1 이면 1: 그 외에는 기존값.
customerData["PRODUCTAGE_NEW"] = np.where(customerData.PRODUCTAGE <1,1,0)

In [3]:
customerData["PRODUCT_NEW_AGE"] = \
np.where(customerData.PRODUCTAGE<1,1,
         np.where(customerData.PRODUCTAGE <2,2,
                  np.where(customerData.PRODUCTAGE<3,3,4)))

In [4]:
customerData.loc[(customerData.PRODUCT_NEW_AGE<1)&(customerData.PRODUCT_NEW_AGE!=1)]

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE, PRODUCTAGE_NEW, PRODUCT_NEW_AGE]
Index: []

In [5]:
customerData.loc[(customerData.PRODUCTAGE<1)&(customerData.PRODUCTAGE_NEW !=1)]

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE, PRODUCTAGE_NEW, PRODUCT_NEW_AGE]
Index: []

In [6]:
customerData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCT_NEW_AGE
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,0,2
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,0,3
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,0,4
3,A16605,3713.211107,2,6,0.900000,Early-bird,1,1
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,0,3
...,...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,0,3
146,Z13534,3662.437527,3,6,0.900000,Early-bird,1,1
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,0,3
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,0,2
149,Z19835,3326.526183,2,6,1.200000,Early-bird,0,2

In [7]:
inValue = 1.5
outValue = 1

In [8]:
def productAgeDefine(inValue):
    # inValue = 1.5
    
    outValue = 1
    if inValue < 1:
        outValue = 1
    elif inValue < 2:
        outValue = 2
    elif inValue < 3:
        outValue =3
    else:
        outValue = 4

    return outValue

In [9]:
customerData["PRODUCTAGE_NEWF"] = customerData.PRODUCTAGE.apply(productAgeDefine)

In [13]:
customerData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCT_NEW_AGE,PRODUCTAGE_NEWF
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,0,2,2
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,0,3,3
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,0,4,4
3,A16605,3713.211107,2,6,0.900000,Early-bird,1,1,1
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,0,3,3
...,...,...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,0,3,3
146,Z13534,3662.437527,3,6,0.900000,Early-bird,1,1,1
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,0,3,3
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,0,2,2
149,Z19835,3326.526183,2,6,1.200000,Early-bird,0,2,2

In [11]:
customerData.loc[customerData.CUSTID == "A13556","EMI"] = 10

In [16]:
customerData.EMI = customerData.EMI.astype(str)

In [17]:
customerData["NC"] = customerData.CUSTID.str[1:] +"_"+ customerData.EMI.astype(str)

0      13566_3
1      14219_2
2      15312_2
3      16605_2
4      10634_2
        ...
145    13253_2
146    13534_3
147    16428_2
148    16735_2
149    19835_2
Length: 150, dtype: object