# 라이브러리 선언

In [1]:
import pandas as pd

In [2]:
selloutData = \
    pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [3]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [4]:
selloutData.describe()

           YEARWEEK           QTY
count  124658.00000  1.246580e+05
mean   201526.66879  8.949287e+03
std        82.77994  4.294973e+04
min    201401.00000 -3.640000e+02
25%    201440.00000  3.200000e+01
50%    201527.00000  2.820000e+02
75%    201613.00000  2.223000e+03
max    201652.00000  1.663206e+06

In [5]:
## [데이터타입 통합]
#  kopo_channel_seasonality_new.csv 파일을 불러온 후
#  selloutData 변수에 담으세요 이후
#  QTY컬럼→실수(float), 이외컬럼→문자(str)로 변경하세요

In [6]:
selloutData.QTY = selloutData.QTY.astype(float)
selloutData.REGIONID = selloutData.QTY.astype(str)
selloutData.PRODUCT = selloutData.QTY.astype(str)
selloutData.YEARWEEK = selloutData.QTY.astype(str)

In [7]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

In [8]:
selloutData = \
    pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [9]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [18]:
sdColumns = list( selloutData.columns)

for i in range(0, len(csColumns)):
    try:
        selloutData[sdColumns[i]] = selloutData[sdColumns[i]].astype(str)
    except Exception as e:
        print(e)

In [19]:
selloutData.dtypes

REGIONID    object
PRODUCT     object
YEARWEEK    object
QTY         object
dtype: object

In [20]:
selloutData.QTY = selloutData.QTY.astype(float)

In [21]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

In [23]:
customerData = \
    pd.read_csv("../dataset/customerdata.csv")

In [27]:
targetColumns = ["CUSTID","EMI"]

In [33]:
targetData = customerData.loc[:,targetColumns]

In [34]:
targetData

     CUSTID  EMI
0    A13566    3
1    A14219    2
2    A15312    2
3    A16605    2
4    B10634    2
..      ...  ...
145  Z13253    2
146  Z13534    3
147  Z16428    2
148  Z16735    2
149  Z19835    2

[150 rows x 2 columns]

In [47]:
customerData.columns

Index(['CUSTID', 'AVGPRICE', 'EMI', 'DEVICECOUNT', 'PRODUCTAGE', 'CUSTTYPE'], dtype='object')

In [40]:
custidNI = 0
avgPriceN0 = 1
emiNO = 2
deviceCountNo = 3
productAgeNo = 4
custTypeNo = 5

In [43]:
targetData2 = customerData.iloc[:,[custidNI,emiNO,deviceCountNo,custTypeNo]]
# targetData2 = customerData.iloc[:,[0,2,3]]

In [44]:
targetData2

     CUSTID  EMI  DEVICECOUNT          CUSTTYPE
0    A13566    3            6  Big-Screen-lover
1    A14219    2            4      Sleeping-dog
2    A15312    2            5      Sleeping-dog
3    A16605    2            6        Early-bird
4    B10634    2            4      Sleeping-dog
..      ...  ...          ...               ...
145  Z13253    2            5  Big-Screen-lover
146  Z13534    3            6        Early-bird
147  Z16428    2            5  Big-Screen-lover
148  Z16735    2            5  Big-Screen-lover
149  Z19835    2            6        Early-bird

[150 rows x 4 columns]

In [48]:
customerData = \
    pd.read_csv("../dataset/customerdata.csv")

In [57]:
CsData  = customerData.loc[customerData.EMI > 2]

In [58]:
CsData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
60   L13892  3263.515145    3            6    1.100000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [63]:
CsData2 = CsData.reset_index(drop=True)
### reset_index() 인덱스 초기화
### CsData.reset_index(drop=True, inplace=True) -> 즉시적용 / 메모리 관리 효율적

In [76]:
CsData2

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0   A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1   F17131  3179.708359    3            6    1.100000        Early-bird
2   G16437  3787.328898    3            6    1.000000        Early-bird
3   G18402  3402.199381    3            6    1.000000        Early-bird
4   H16326  3988.935304    3            6    0.900000        Early-bird
5   I12899  3018.895637    3            6    0.900000        Early-bird
6   J10809  3676.135627    3            6    0.800000        Early-bird
7   J15083  2811.265932    3            6    0.900000        Early-bird
8   J16445  3041.848186    3            6    0.800000        Early-bird
9   L13892  3263.515145    3            6    1.100000        Early-bird
10  N13273  3839.694732    3            6    1.100000        Early-bird
11  R16364  3592.353540    3            6    0.900000        Early-bird
12  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
13  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
14  V18566  3527.701867    3            6    0.900000        Early-bird
15  W13404  4296.873743    3            6    1.100000        Early-bird
16  X13390  2947.543982    3            6    1.100000        Early-bird
17  Z11525  3259.018704    3            6    0.900000        Early-bird
18  Z13534  3662.437527    3            6    0.900000        Early-bird

In [82]:
customerData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [80]:
customerData3 = customerData.set_index("CUSTID")

In [83]:
customerData3.loc["A13566":"B10634"]

           AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
CUSTID
A13566  4273.900000    3            6    1.679181  Big-Screen-lover
A14219  3642.441950    2            4    2.682023      Sleeping-dog
A15312  3653.884565    2            5    3.208202      Sleeping-dog
A16605  3713.211107    2            6    0.900000        Early-bird
B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [64]:
customerData = \
    pd.read_csv("../dataset/customerdata.csv")

In [65]:
sortKey = ["AVGPRICE"]

In [66]:
sortedfDAta = customerData.sort_values(sortKey)

In [67]:
sortedfDAta

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
68   N14862  2390.083736    1            6    1.000000        Early-bird
131  W13995  2411.008838    2            6    1.000000        Early-bird
125  V16704  2605.631083    2            6    0.900000        Early-bird
58   K16632  2650.900000    2            4    2.233033  Big-Screen-lover
30   G11453  2744.815881    2            6    0.900000        Early-bird
..      ...          ...  ...          ...         ...               ...
25   F12979  4165.700000    2            6    2.128362  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
16   D17241  4166.533130    2            4    2.577757      Sleeping-dog
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
130  W13404  4296.873743    3            6    1.100000        Early-bird

[150 rows x 6 columns]